#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h3 {
  margin-top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredients-container {
  width: 45%;
}

.burger-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

