.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 225px;
}

.btn:hover {
  background-color: #F2F4F4;
  border-radius: 5px;
}

.ingredientName {
  font-size: 24px;
  margin-left: 15px;
}

.img {
  width: 70px;
  height: 70px;
  padding: 6px;
}